* {
  box-sizing: border-box;
}

body {
  background-color: #202020;
}

.container {
  padding: 1rem 1rem;
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
  z-index: 1;
}

.container header {
  margin-top: 6%;
}

@media (max-width: 600px){
    .container header {
      margin-top: 15%;
    }
}

.container .section-header {
  margin: 2%;
  padding: 5px;
  border-left: solid black 2px;
  background-color: rgba(127, 237, 255, 0.4);
  color: #ff0;
  border-radius: 3px;
}
.container ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.container li {
  padding: 1rem;
  background: #fff;
  color: #202020;
  border-radius: 5px;
  border: 1px solid #ccc;
  opacity: 0.9;
  margin-bottom: 5px;
}



.container li:hover {
  box-shadow: 1px 2px 3px 0px rgba(25, 25, 25, 0.6);
  opacity: 1;
  transition: all 0.5s ease;
}
.container h1 {
  background-color: #38678f;
  color: #fff;
  padding: 1.25rem;
  border-radius: 6px;
}
.container h2 {
  margin: 0;
  color: #00551b;
  margin-bottom: 5px;
}
.container p {
  color: #555;
  line-height: 1.5;
}
.container img {
  width: 100%;
  margin-bottom: 1.5rem;
  border-radius: 5px;
}

/* Flexbox Styling */
/* Inspired by https://www.aaron-gustafson.com/notebook/playing-with-flexbox-and-quantity-queries/ */
.item-list {
  display: flex;
  flex-wrap: wrap;

}

.item {
  flex: 100%;
  margin: 0 0 1.25rem;
}

@media (min-width: 36em) {
  .item {
    flex: 0 0 calc(50% - 1.25rem / 2);
    margin-left: 1.25rem;
  }

  .item:nth-child(odd) {
    margin-left: 0;
  }
}
@media (min-width: 60em) {
  .item {
    flex: 0 0 calc(100% / 3 - 0.875rem);
  }

  .item:nth-child(odd),
  item:nth-child(even) {
    margin-left: 1.25rem;
  }

  .item:nth-child(3n + 1) {
    margin-left: 0;
  }
}
/*--------- navbar --------*/
nav {
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 0 auto;
  width: 100%;
  background-color: #222;
  z-index: 10;
}

nav ul {
  list-style-type: none;
  text-align: center;
}

nav ul li {
  display: inline-block;
  text-align: center;
  padding: 10px;
  height: 2%;
}



nav ul li a {
  text-decoration: none;
  color: white;
  padding: 20px;
}


/* for very small viewports */
@media (max-width: 420px) {
	nav ul li a {
		font-size: small !important; /* Adjust font size */
		color: aquamarine !important; /* Change text color */
		padding: 0px !important;
	}
}


/* an underline appears at the bottom on hover of each link */
nav ul li a:hover,
nav ul li a:active {
  border-bottom: 2px solid #ccc;
  padding-bottom: 8px;
}

/* end of navigation section*/

.footer {
    display: block;
    color: #bbbbbb;
    text-align: center;
    font-family: monospace;
}


.footer a, a:visited {
    color: lightseagreen;
    text-decoration: none
}

/* for the dynamic portfolio */

#dynamic_academia_portfolio {
  max-width: 50vw;
  margin-left:auto;
  margin-right:auto;
  border:gray 5px dashed;
  padding: 10px;
  color: darkseagreen;
}

#dynamic_academia_portfolio p {
    color: aliceblue;
}

.entry-item {
  padding-bottom: 3px;
  border-bottom: gray 3px solid;
}

#tag_cloud {
  width: 40vw;
  margin-left:auto;
  margin-right:auto;
  border:gray 5px dashed;

  color: darkseagreen;
}

.legend {
  color: gray;
}


.item7 {
    height: auto !important;
}

.item8 {
    background: none !important;
}
